
.grad {
    background-image: linear-gradient( 25deg, rgb(239,61,136) 0%, rgb(246,126,97) 61%, rgb(253,190,57) 100%);
    position: fixed;
    z-index: 1;
    width: 100%;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 30px; 
    background-color:white; 
  }